In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('Test.csv')

In [3]:
results = pd.read_csv('pred_75_percent_recall.csv')

In [4]:
test.head()

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15
0,CR_195453,01-FEB-18,0,30,35,7,3,6,4,0,5,1,174,NaN,72,119,23
1,CR_103520,05-MAR-04,0,44,44,1,3,7,1,4,6,1,316,0.0,12,29,34
2,CR_196089,27-JAN-18,0,34,33,3,5,2,7,3,0,1,316,1.0,72,0,34
3,CR_112195,18-AUG-06,7,3,2,3,5,9,8,0,5,1,174,1.0,112,87,34
4,CR_149832,31-OCT-11,0,7,8,7,3,2,7,1,5,1,174,0.0,112,93,43

In [5]:
results.head()

   MULTIPLE_OFFENSE
0                 0
1                 0
2                 0
3                 1
4                 0

In [6]:
df = pd.DataFrame()

In [7]:
df['INCIDENT_ID'] = test['INCIDENT_ID']

In [8]:
df['MULTIPLE_OFFENSE'] = results['MULTIPLE_OFFENSE']

In [9]:
df.head()

  INCIDENT_ID  MULTIPLE_OFFENSE
0   CR_195453                 0
1   CR_103520                 0
2   CR_196089                 0
3   CR_112195                 1
4   CR_149832                 0

In [10]:
df.to_csv('results_file.csv',index=False)

In [11]:
sum(list(df['MULTIPLE_OFFENSE']))

10126